@import '../../variables.scss'; 

.container {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
    
    &:before {
        position: absolute;
        content: '';
        z-index: -1;
        inset: 0;
        background-size: cover;
        background-image: url('/assets/images/galaxy.jpg');
        background-position: center;
        animation-name: animate;
        animation-duration: 90s;
        animation-iteration-count: infinite;
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}